myenv/
venv/
.venv/

.env

Agents/MeetingAgent/credentials.json
Agents/MeetingAgent/token.json

Agents/CommunicationAgent/client_secret.json
Agents/CommunicationAgent/credentials.json
Agents/CommunicationAgent/token.json